{% extends "layout.html" %}

{% block title %}
    Manage Subject 6 Grades
{% endblock %}

{% block main %}
    <form action="/managesubject6" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="studentname" placeholder="Student Name" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test1" placeholder="Test 1" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test2" placeholder="Test 2" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test3" placeholder="Test 3" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test4" placeholder="Test 4" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test5" placeholder="Test 5" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test6" placeholder="Test 6" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test7" placeholder="Test 7" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test8" placeholder="Test 8" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="test9" placeholder="Test 9" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="comments" placeholder="Comments" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Subject 6 Grades</button>
    </form>
{% endblock %}
          